@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* ----------------------------
	General
---------------------------- */
* {
  -webkit-font-smoothing : none;
  -webkit-font-smoothing : antialiased;
  -webkit-font-smoothing : subpixel-antialiased;
  box-sizing: border-box;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  font-size: 16px;
  background-color: #FCFBF7;
  font-family: 'Quicksand', sans-serif;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #444;
  text-decoration: none;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  font-family: 'Quicksand', sans-serif;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
    background-color: #FCFBF7;
}
input,
select,
textarea {
  background-color: transparent;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
table {
  margin-bottom: 15px;
  border-collapse: collapse;
}
tbody,
td,
tr {
  margin: 0;
  padding: 0;
}
.alert--error {
  display: flex;
  align-items: center;
  color: #E94C4C;
}
.alert--error p {
  display: inline-block;
}
.alert--error > svg {
  margin-right: 7px;
  vertical-align: middle;
}
.icon--error {
  width: 13px;
  height: 14px;
}
.container {
  width: 1000px;
}
.container--index,
.container--registration,
.container--login {
  max-width: 360px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
/* ----------------------------
Footer
---------------------------- */
footer {
  color: #56B693;
  font-size: .875em;
  position: absolute;
  bottom: 0;
}
/* ----------------------------
Header
---------------------------- */
header {
  background-color: #56B693;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
}
.header {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header--iconGroup {
  display: flex;
  align-items: center;
}
.header--title {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;  
  font-weight: 400;
  color: #FCFBF7;
  margin-left: 10px;
}
.header--title a {
  color: #FCFBF7;
}
.icon--header {
  transition: .2s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.icon--logout {
  margin-left: 10px;
}
.icon--header:hover {
  transform: scale(1.10);
}
.btn--group {
  display: flex;
  justify-content: flex-end;
}
.btn {
  transition: .2s;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #aadac9;
  background-color: #aadac9;
  color:white;
  padding: 7px 15px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 50px;
  align-self: flex-end;  
}
.btn:hover {
  transform: scale(1.05);
}
/* ----------------------------
Bread Crumbs (bouton retour)
---------------------------- */
.container--breadCrumbs {
  background-color: #AADAC9;
  display: flex;
  width: 100%;
  justify-content: center;
}
.breadCrumbs {
  display: flex;
  width: 1000px;
  align-items: center;
  padding: 0 15px;
}
.breadCrumbs > .breadCrumbs--title, 
.breadCrumbs > svg {
  cursor: pointer;
} 
.breadCrumbs--title {
  color: #FCFBF7;
  font-size: 1.5em;
  font-weight: 600;
}
/* ----------------------------
Index Page
---------------------------- */
.medium--text {
  font-size: 1.28em;
  font-weight: 600; 
}
.regular--text {
  font-size: 1em;
  font-weight: 400; 
}
.btn--visit {
  background-color: #56B693;
  transform: rotate(180deg);
  font-size: 0;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  float: right;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn--visit:hover {
  -moz-transform: rotate(540deg);
  -webkit-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}

/* ----------------------------
Login Page
---------------------------- */
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-content: center;
}
.subscriptionInput {
  margin: 15px 0;
  padding-bottom: 10px;
  background-color: #FCFBF7;
  border: none;
  border-bottom: 1px solid #444;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 600;
}
.inputBottomMargin {
  margin-bottom: 35px; 
}
.subscriptionInput::placeholder {
    color: #444;
}
.btn--subscription {
  border: 1px solid #009688;
  background-color: transparent;
  color: #009688;
  margin-left: 15px;
}
.btn--fav {
  margin-right: 15px;
}
.psswrdForgotten {
  color: #56B693!important;
  font-size: .875em;
  display: inline-block;
  transform: translateY(-150%);
}
/* ----------------------------
Dashboard Page
---------------------------- */
.container--dashboard {
  max-width: 600px;
}
.profilCartouche {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profilCartouche div {
  display: flex;
  align-items: center;
}
.profilCartouche .edit {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  overflow: hidden;
}
.profilCartouche .edit p{
  transition: .3s;
  transform: translateX(110%);
  margin-bottom: 2px;
  margin-right: 10px; 
  color: rgba(68,68,68, .3);
}
.icon--edit {
  cursor: pointer;
  transform-origin: center;
  z-index: 1;
  background-color: #FCFBF7;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon--edit.active + p{
  transform: none;
}
.icon--edit.active {
   -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.icon--avatar {
  width: 46px;
  height: 46px;
}
.text--welcome {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-transform: capitalize;
}
.text--welcome span {
  font-weight: 400;
}
.edit--prsonnalInfos {
  display: none;
  position: relative;
  margin-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #AADAC9;
  border-bottom: 1px solid #AADAC9;
}
.edit--prsonnalInfos.active {
  display: block;
}
.edit--prsonnalInfos:before {
  content: '';
  position : absolute;
  top      : -7px;
  right     : 19.5px;
  width    : 0;
  height   : 0;
  z-index  : 2;
  border-left   : 7px solid transparent;
  border-right  : 7px solid transparent;
  border-bottom : 7px solid #FCFBF7;
}
.edit--prsonnalInfos:after {
  content: '';
  position : absolute;
  right: 18px;
  top: -8.7px;
  width    : 0;
  height   : 0;
  z-index  : 1;
  border-left   : 8.7px solid transparent;
  border-right  : 8.7px solid transparent;
  border-bottom : 8.7px solid #AADAC9;
}
.profilNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featureBlocks {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .featureBlocks > .featureBlock:nth-child(-n+2) {
  background-color: rgba(170,218,201, .2);
} */
.featureBlock {
  transition: .2s;
  flex: 1 0 40%;
  font-size: 1em;
  border: 1px solid #AADAC9;
  border-radius: 10px;
  padding: 15px;
}
.featureBlock:hover {
  transform: scale(1.05);
  background: rgba(170,218,201, .1);
}
.featureBlock:nth-child(odd) {
  margin: 0 15px 15px 0;
}
.featureBlock:nth-child(even) {
  margin: 0 0 15px 0;
}
.featureBlock a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featureBlock .icon {
  margin-bottom: 15px;
}
.featureBlock span {
  max-width: 100px;
  font-weight: 600;
}
.featureBlock--mySpace {
  width: 100%;
  margin: 0!important;
}
/* ----------------------------
React Autosuggest Style
---------------------------- */
.react-autosuggest__input {
  padding: 7px  15px;
  font-size: 1em;
  border: 1px solid #444;
  border-radius: 25px;
  padding-right: 30px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L9.644 9.645' stroke='%23333' stroke-width='1.556' stroke-linecap='round'/%3E%3Cpath d='M10.422 5.678c0 2.716-2.169 4.9-4.822 4.9S.778 8.394.778 5.678c0-2.717 2.169-4.9 4.822-4.9s4.822 2.183 4.822 4.9z' stroke='%23333' stroke-width='1.556'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 15px 15px;
}
.react-autosuggest__container--open {
  width: 242px;
}
.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__container--open > 
.react-autosuggest__input {
  border: 1px solid black;
  border-bottom: 1px solid #E3E3E3;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.react-autosuggest__suggestions-container--open {
  position: absolute;
  z-index: 1;
  background-color: #FCFBF7;
  width: 100%;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  color: black;
  width: 242px;
  border: 1px solid black;
  border-top: none;
}
.react-autosuggest__suggestions-list {
  list-style:none;
  margin:0;
  padding:0;
}
.react-autosuggest__suggestion{
  padding: 5px 0 5px 15px;
}
.react-autosuggest__suggestion:hover{
  background-color: #ECF4EE;

  cursor: pointer;
}
.react-autosuggest__suggestion:hover:last-child {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
/* ----------------------------
Add Recipe Page
---------------------------- */
.input--group {
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 15px; */
}
.input, .label {
  display: block;
}
.label {
  margin-bottom: 10px;
  font-size: 1.125em;
  font-weight: 600;
}
.input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.input--number {
  text-align: right;
}
.input--time {
  width: 140px;
  display: flex;
}
.input--time > .input--number {
  width: 100%;
  border-radius: 25px 0 0 25px;
}
.input--time > span {
  border: 1px solid #444;
  border-radius: 0 25px 25px 0;
  padding: 5px 15px;
  margin-left: -1px;
}
.input--number {
  width: 140px;
  border: 1px solid #444;
  border-radius: 25px;
  display: inline-flex;
}
.input--number input {
  font-size: 1em;
  color: #444;
  display: block;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 7px 15px;
  width: 60px;
}
.btn--inputNumber:focus {
  outline: none;
}
.btn--inputNumber {
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 0 15px;
}
.btn--minus {
  border-radius: 25px 0 0 25px;
}
.btn--plus {
  border-radius: 0 25px 25px 0;
}
.btn--add {
  align-self: flex-start;
}
.textarea--steps {
  width: 520px;
  min-height: 105px;
}
.ingredientBlock {
  display: flex;
  align-items: center;
  height: 65px;
}
.ingredientBlock:not(:last-child) {
  border-bottom: 1px solid #ECF4EE;
}
.ingredientBlock--quantity {
  justify-content: flex-end;
}
.ingredientBlock > img {
  background-color: #ECF4EE;
  border: 1px solid #ECF4EE;
  border-radius: 10px;
  padding: 6px;
  margin-right: 15px;
}
.ingredientBlock > p::first-letter {
  text-transform: capitalize;
}
.btn--delete {
  height: 25px;
  width: 25px;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 25px;
}
.btn--addStep {
  transition: .2s;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #aadac9;
  background-color: #aadac9;
  color:white;
  padding: 7px 15px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 10px;
  width: 520px;
}
.steps > .btn--delete {
  /* visibility: hidden; */
  background-color: red;
}
.btn--radio {
  display: flex;
  justify-content: space-between;
  width: 520px;
}
.btn--validate {
  align-self: flex-start;
}
/* ----------------------------
Favorites Pages
---------------------------- */
.Section {
  padding: 1px;
}
.SectionTitle {
  cursor: pointer;
  margin-bottom: 15px;
}
.SectionContent {
  transition: .2s;
}
.iconArrow {
  transition: .2s;
  margin-right: 10px;
}
.hideSection > .SectionContent {
  animation: .3s hideSection;
  animation-fill-mode: forwards;
}
.hideSection > .SectionTitle > .iconArrow {
  transform: rotate(-90deg);
}
@keyframes hideSection {
  40% {transform: translateY(-20px); opacity: 0;}
  100% {transform: translateY(-20px); opacity: 0; height: 0}
}
.Tools {
  margin-left: auto;
}
.Card {
  margin-bottom: 15px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  transition: .2s;
  border-radius: 10px;
  background-color: #ECF5EE;
}
.Card:hover {
  transform: translateX(5px);
}
.CardTitle {
  max-width: 220px;
  font-weight : 600;
}

/* ----------------------------
Calendar Page
---------------------------- */
.input {
  padding: 7px  15px;
  font-size: 1em;
  border: 1px solid #444;
  border-radius: 25px;
  height: 34px;
}
.input--search {
  padding-right: 30px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L9.644 9.645' stroke='%23333' stroke-width='1.556' stroke-linecap='round'/%3E%3Cpath d='M10.422 5.678c0 2.716-2.169 4.9-4.822 4.9S.778 8.394.778 5.678c0-2.717 2.169-4.9 4.822-4.9s4.822 2.183 4.822 4.9z' stroke='%23333' stroke-width='1.556'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 15px 15px;
}
.fruitVegBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.fruitVegBlock {
  max-width: 150px;
  min-width: 150px;
  margin: 0 15px 15px 0;
  transition: .2s;
  flex: 1 0 21%;
  font-size: 1em;
  border-radius: 10px;
  padding: 15px;
}
.fruitVegBlock:hover {
  transform: scale(1.05);
}
.fruits {
  border: 1px solid #F18585;
}
.légumes {
  border: 1px solid #DFE178;
}
.fruits:hover {
  background: rgba(241,133,133, .1);
}
.légumes:hover {
  background: rgba(223,225,120, .1);
}
.fruitVegBlock a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.fruitVegBlock .icon {
  margin-bottom: 15px;
}
.fruitVegBlock span {
  max-width: 100px;
}

/* ----------------------------
Seasonal Item Page
---------------------------- */
.fruitVegName {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #56B693;
}
.fruitVegName > img {
  margin-right: 20px;
}
.fruitVegName > h2::first-letter {
  text-transform: capitalize;
}
.calendar {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.month {
  text-align: center;
  width: 16.667%;
  margin-bottom: 25px;
}
.name {
  margin-bottom : 10px;
}
.number {
  background-color: #bddfd7;
  padding: 5px 0;
}
.calendar  .active {
  background-color: #56B693;
}
/* ----------------------------
A bouger
---------------------------- */
.icon--edit {
  width: 26px;
  height: 25px;
}
/* ----------------------------
	NotFound Page
---------------------------- */
.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #eceff1;
}
/* ----------------------------
	Media Queries
---------------------------- */
@media screen and (max-width: 1000px) {
  .container {
    max-width: inherit;
    width: 100%;
    padding: 15px;
  }
  .container--index,
  .container--registration,
  .container--login {
    width: 360px;
  }
  .fruitVegBlocks {
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .container--dashboard {
    max-width: inherit;
    width: 100%;
    padding: 15px;
  }
  .input--group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 550px) {
  .btn--group,
  .btn--radio {
    flex-wrap: wrap;
    width: 100%;
  }
  input[type="number"],
  input[type="text"],
  .react-autosuggest__container,
  .textarea--steps,
  .btn--addStep {
    width: 100%;
  }
  .profilCartouche .edit p{
    display: none;
  }

}
@media screen and (max-width: 360px) {
  .container--index,
  .container--registration,
  .container--login {
    max-width: inherit;
    width: 100%;
    padding: 15px;
  }
  .header--title {
    display:none;
  }
}